.visible-div{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    background-color: steelblue;
}
#visible{
    visibility: hidden;
}
.overflow{
width: 700px;
height: 500px;
background-color: steelblue;
border: 1px solid sienna;
overflow: scroll;
overflow-x: hidden;
}
.text-overflow{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon{
    display: flex;
}

.container, .inner{
    width: 200px;
    height: 200px;
    border: 1px solid khaki;
}
.container{
    
    background-color:lightblue;
    margin: 20px;
}
.inner{
    background-color: pink;
    transform: scale(0.5, 0.5) rotate(45deg) translate(200px, -400px);
    font-size: 40px;
}